.bg-prim {
    background-color: #c8d1db60;
}
.round {
    border-radius: 10px;
}
img {
  
}
#body {
    padding: 0px;
    margin: 0px;
    background-color: black;
    background-image: url(img/NoZ6Ke1.png);
    background-repeat:no-repeat
}
header img {
    width: 120px;
}

.row {
    text-align: center;
    max-height: 420px;
    margin: 15px;
}

.art {
    padding: 5px;
    max-height: 420px;
    background-color: #c8d1db60;
}

.imgArticle {
    max-width: 100%;
    max-height: 300px;
    padding: 5px;
}
.big {
    max-width: 100%;
    margin-top: 20px;
    max-height:80%;
}
.bigTitle{
    margin:18px;
}
.h4Article {
    margin: auto;
    padding: 5px;
}
.pArticle {
    padding: 5px;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
}

#twit {
    background-color: white;
    height: 390px;
    overflow-y: scroll;
}
.twittRoundTop{
height: 15px;
border-radius: 10px 10px 0px 0px;
background-color:  #c8d1db60;
}
.twittRoundBott{
    border-radius:  0px 0px 10px 10px;
    height: 15px;
    background-color:  #c8d1db60;
}

footer {
    height: 50px;
    background-color: #c8d1db60;
    margin-bottom: 10px;
}