.active{
    color: white;
}
.bg-prim {
    background:transparent;
}
.round {
    border-radius: 10px;
}
.body {
    padding: 0px;
    margin: 0px;
    background-color: black;
    background-image: url(img/NoZ6Ke1.png);
    background-repeat: no-repeat;
    font-family: 'Roboto', sans-serif;
}
header img {
    width: 170px;
}
.collapse ul li{
   
    font-size: 18px;
    font-weight: 600;
}
#spacexArt{
    font-size: 18px;
}
.topParallax{
    background-image: url("img/crewDragon.jpg");
    height: 200px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.midParallax{
    background-image: url("img/falcon-TA.jpg");
    height: 400px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.card {
    border-radius: 0px !important;
    transition: all .2s ease-in-out; 
    text-align: center;
    max-height: 500px;
    margin-bottom: auto;
    background-color: #ffffff !important;
    padding: 0px !important;
}
.card:hover{
    transform: scale(1.0200);
}
/* .cardHover{
   
} */
/* .card-body:hover{
}  */
.card img{
    height: 400px;
    object-fit: cover;
}
.card-body{
    padding: 5px !important;
}
.card-body h5{
    margin: 0px;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
}
h5 #staticBackdropLabel{
    text-align: center;
}
#modalImg{
    width: 100%;
    margin: 5px;
}
.astroImg{
    max-height: 450px;
}
.modal-lg {
    max-width: 680px !important;
}
#twit {
    background-color: white;
    height: 390px;
    overflow-y: scroll;
}

footer {
    height: 50px;
    background:transparent;
    margin-bottom: 10px;
}

footer img {
    margin: 5px 27px 2px 0px;
    float: right;
    height: 40px;
}